<html ng-app="ngGame">
<head>
  <title>CovidSweeper</title>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="src/client/styles.css"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="CovidSweeper">
  <meta property="og:description" content="Minesweeper, but with a twist.">
  <meta property="og:url" content="img/preview.png">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script type="text/javascript" src="src/client/app.js"></script>
  <script type="text/javascript" src="src/client/game.controller.js"></script>
  <script type="text/javascript" src="src/client/game.canvasController.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162201151-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-162201151-1');
  </script>
</head>
<body unselectable="on" ng-controller="gameController">
  <div>
    <div class="gameCanvas">
      <canvas ng-game-canvas
              emote="emote"
              game-state="gameState"
              game-statistics="gameStatistics"
              loaded-settings="loadedSettings"
              new-hiscore="newHiscore"
              settings="settings"
              timer="timer"
              id="gameController"
              height="{{ gameCanvasSettings.height }}"
              width="{{ gameCanvasSettings.width }}">
      </canvas>
      <div class="gameBar" id="gameBar">
        <div class="gameCell">
          <div id="gameMines">
            {{ gameState.minesLeft + ' / ' + gameState.maxMines }}
          </div>
        </div>
        <div class="gameCell">
          <button ng-bind="emote"
                  ng-click="resetGame()"
                  class="resetButton"
                  id="gameEmote"
                  type="button">
          </button>
        </div>
        <div class="gameCell">
          <div ng-bind="timer"
               style="color:{{
                        gameState.gameStarted === true &&
                        gameState.gameOver === false ?
                        'thistle' :
                        'white'
                      }}"
               id="gameTimer">
          </div>
        </div>
      </div>
    </div>
    <div class="gameSettings" id="gameSettings">
      <p class="gameSettingsLinks">Difficulty
        <br />
        <a href
           ng-click="settings.difficulty = 'intermediate'">
          Intermediate
        </a>
        <br />
        <a href
           ng-click="settings.difficulty = 'advanced'">
          Advanced
        </a>
        <br />
        <a href
           ng-click="settings.difficulty = 'omgwhy'">
          Global Pandemic
        </a>
      </p>
      <p class="gameSettingsLinks">Tile Size
        <br />
        <a href ng-click="settings.textSize = 'small'">Small</a>
        <br />
        <a href ng-click="settings.textSize = 'medium'">Medium</a>
      </p>
      <p class="gameStats">
        <div id="tileCasualties"
             ng-if="gameStatistics.tileCasualties > 0">
          {{
            gameStatistics.tileCasualties + ' tile' +
            ( gameStatistics.tileCasualties === 1 ?
              '' : 's') + ' infected with COVID-19'
          }}
        </div>
        <div id="outbreaksStopped"
             ng-if="gameStatistics.outbreaks > 0">
          {{
            gameStatistics.outbreaks + ' outbreak' +
            ( gameStatistics.outbreaks === 1 ?
              '' : 's') + ' stopped'
          }}
        </div>
        <div id="pandemicsStopped"
             ng-if="gameStatistics.pandemics > 0">
          {{
            gameStatistics.pandemics + ' global pandemic' +
            ( gameStatistics.pandemics === 1 ?
              '' : 's') + ' stopped'
          }}
        </div>
        <br />
      </p>
    </div>
  </div>
  <div class="gameFooter">
    <h4 id="twistLabel">
      {{
        gameStatistics.cheated === true ?
        'Cheater! :^(' :
        'Minesweeper, but with a twist...'
      }}
    </h4>
    <p id="howToPlay">
      <b>Objective: </b> Uncover all safe tiles.<br />
      <b>To play: </b> Left-click to uncover tiles, right-click to mark tiles as unsafe (O) or unsure (?).<br />
      Click the wrong tile, and it's game over. Beware of the twist...
    </p>
    <a href
       ng-click="viewHiscores = true;">
      View High Scores
    </a>
  </div>
  <div class="pageFooter">
    <div class="pageFooterText">Developed by <a class="pageFooterLink" href="https://github.com/park-junha" target="_blank">Junha Park</a> during the COVID-19 crisis.</div>
    <div class="pageFooterVersion"><a class="pageFooterLink" href="https://github.com/park-junha/CovidSweeper" target="_blank">Version 3.0</a></div>
  </div>
  <div ng-if="viewHiscores === true"
       id="viewHiscoresModal"
       class="modal">
    <div class="modal-content">
      <h4>High Scores</h4>
      <div class="modal-buttons text-centered">
        <a href
           ng-click="scoresToView.difficulty = 'intermediate';"
           class="{{ scoresToView.difficulty === 'intermediate' ?
                     'active-viewoption' : '' }}"
        >
          Intermediate
        </a>
        <span>&nbsp;</span>
        <a href
           ng-click="scoresToView.difficulty = 'advanced';"
           class="{{ scoresToView.difficulty === 'advanced' ?
                     'active-viewoption' : '' }}"
        >
          Advanced
        </a>
        <span>&nbsp;</span>
        <a href
           ng-click="scoresToView.difficulty = 'omgwhy';"
           class="{{ scoresToView.difficulty === 'omgwhy' ?
                     'active-viewoption' : '' }}"
        >
          Global Pandemic
        </a>
        <br />
        <a href
           ng-click="scoresToView.category = 'daily';"
           class="{{ scoresToView.category === 'daily' ?
                     'active-viewoption' : '' }}"
        >
          Daily
        </a>
        <span>&nbsp;</span>
        <a href
           ng-click="scoresToView.category = 'weekly';"
           class="{{ scoresToView.category === 'weekly' ?
                     'active-viewoption' : '' }}"
        >
          Weekly
        </a>
        <span>&nbsp;</span>
        <a href
           ng-click="scoresToView.category = 'monthly';"
           class="{{ scoresToView.category === 'monthly' ?
                     'active-viewoption' : '' }}"
        >
          Monthly
        </a>
        <span>&nbsp;</span>
        <a href
           ng-click="scoresToView.category = 'alltime';"
           class="{{ scoresToView.category === 'alltime' ?
                     'active-viewoption' : '' }}"
        >
          All-time
        </a>
      </div>
      <div ng-if="hiscoreFetchStatuses[scoresToView.difficulty]
        [scoresToView.category] === 0"
           class="text-centered fat-vertical-margins">
        Loading...
      </div>
      <table ng-if="hiscoreFetchStatuses[scoresToView.difficulty]
        [scoresToView.category] === 200"
             class="hiscores-table">
        <tr>
          <th>Name</th>
          <th>Time</th>
          <th>Achieved</th>
          <th>Mines</th>
        </tr>
        <tr ng-repeat="row in hiscores[scoresToView.difficulty]
          [scoresToView.category]">
          <td ng-bind="row.name"></td>
          <td ng-bind="row.time"></td>
          <td ng-bind="row.timestamp"></td>
          <td ng-bind="row.mines"></td>
        </tr>
      </table>
      <div class="modal-buttons">
        <button ng-click="closeModal()"
                type="button">
          Close
        </button>
        <button ng-click="refreshHiscores()"
                ng-disabled="hiscoreFetchStatuses[scoresToView.difficulty]
                  [scoresToView.category] === 0"
                type="button">
          Refresh
        </button>
      </div>
      <p ng-if="hiscoreFetchStatuses[scoresToView.difficulty]
        [scoresToView.category] !== 200 &&
      hiscoreFetchStatuses[scoresToView.difficulty]
        [scoresToView.category] !== 0"
         class="modal-msg">
        We couldn't fetch high scores for: {{
          scoresToView.difficulty
        }}, {{
          scoresToView.category
        }}. (Error status code: {{
          hiscoreFetchStatuses[scoresToView.difficulty]
            [scoresToView.category]
        }})
      </p>
    </div>
  </div>
  <div ng-if="newHiscore === true"
       id="newHiscoreModal"
       class="modal">
    <div class="modal-content">
      <h4>You Won!</h4>
      <span>
        <label for="newHiscoreName">Enter Your Name:</label>
        <input ng-model="newHiscoreName"
               type="text"
               id="newHiscoreName">
      </span>
      <div class="modal-buttons">
        <button ng-click="submitScore(newHiscoreName)"
                type="button">
          Submit Score
        </button>
        <button ng-click="closeModal()"
                type="button">
          Close Without Submitting
        </button>
      </div>
      <p ng-if="failedApiAttempts > 0"
         class="modal-msg">
        Something went wrong. ({{
          failedApiAttempts
        }} attempt{{
          failedApiAttempts > 1 ? 's' : ''
        }})
      </p>
    </div>
  </div>
</body>
</html>
